@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';


header a {
  transition: all 0.3s ease;
}

header a:hover {
  color: #a9a9a9 !important; /* Light gray color */
  transform: scale(1.1);
  display: inline-block;
}

.movies{
 .card{
  transition: transform 0.3s ease;
  &:hover{
  transform: scale(1.02);
  cursor: pointer;
  }
       img{
            width: 100%;
            height: 40rem;
         
          object-fit: cover;
        }
    }

}

.star-rating{
  color: #ffc107;
}

.bg-secondary::placeholder {
  color: lightgray!important; /* Bootstrap's text-muted color */
  opacity: 0.8;
}

.reviews-container::-webkit-scrollbar {
  width: 8px;
}

.reviews-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.reviews-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.reviews-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

footer a {
  transition: all 0.3s ease;
}

footer a:hover {
  color: #a9a9a9 !important; /* Light gray color */
  transform: scale(1.1);
  display: inline-block;
}